# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Python specific settings
[*.py]
indent_size = 4

# Markdown files (Markdownlint default)
[*.md]
trim_trailing_whitespace = false
