# ignore everything by default...
/**

# common
!.gitignore
!.config

# fish
!.config/fish
!.config/fish/**

# starship
!.config/starship.toml

# other shell configs
!.profile
!.zprofile
!.zshenv
!.zshrc

# asdf
!.asdfrc