{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

# hash: {{ include "dot_config/packages/Brewfile" | sha256sum }}
brew bundle --file="$HOME/.config/packages/Brewfile" --no-lock
{{- end }}
